<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" 
             class="form-control"
             formControlName="username">
      <div class="alert" *ngIf="!loginForm.controls['userData'].controls['username'].valid">
        Username Invalid
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" 
             class="form-control"
             formControlName="email">
      <div class="alert" *ngIf="!loginForm.controls['userData'].controls['email'].valid">
        Email Invalid
      </div>
    </div>
  </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" 
             class="form-control" 
             formControlName="password">
      <div class="alert" *ngIf="!loginForm.controls['password'].valid">
        Password Invalid
      </div>
    </div>

    <div class="radio" *ngFor="let g of genders">
      <label>
        <input type="radio"
               formControlName="gender"
               [value]="g">
        {{g}}
      </label>
    </div>

    <div formArrayName="hobbies">
      <h1>Hobbies</h1>
      <div class="form-group" *ngFor="let hobby of loginForm.controls['hobbies'].controls; let i=index">
        <input type="text" 
               class="form-control"
               formControlName="{{i}}">
        <div class="alert" *ngIf="!loginForm.controls['hobbies'].controls[i].valid">
          Hobby Invalid 
        </div>
      </div>
    </div>
    <button class="btn btn-defualt" 
            (click)="onAddHobby()">Add Hobby</button>
    <button class="btn btn-danger" 
            (click)="onDeleteHobby()" 
            [disabled]="loginForm.controls['hobbies'].length<1">Delete Hobby</button>
    <button class="btn btn-primary" 
            [disabled]="!loginForm.valid">Submit</button>
 
</form>-->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" 
            class="form-control"
            formControlName="username">
    <div class="alert" *ngIf="!loginForm.controls['username'].valid">
      Username Invalid
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" 
            class="form-control"
            formControlName="email">
    <div class="alert" *ngIf="!loginForm.controls['email'].valid">
      Email Invalid
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" 
            class="form-control" 
            formControlName="password">
    <div class="alert" *ngIf="!loginForm.controls['password'].valid">
      Password Invalid
    </div>
  </div>

  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio"
              formControlName="gender"
              [value]="g">
      {{g}}
    </label>
  </div>

  <div formArrayName="hobbies">
    <h1>Hobbies</h1>
    <div class="form-group" *ngFor="let hobby of loginForm.controls['hobbies'].controls; let i=index">
      <input type="text" 
              class="form-control"
              formControlName="{{i}}">
      <div class="alert" *ngIf="!loginForm.controls['hobbies'].controls[i].valid">
        Hobby Invalid 
      </div>
    </div>
  </div>
  <button class="btn btn-defualt" 
          (click)="onAddHobby()">Add Hobby</button>
  <button class="btn btn-danger" 
          (click)="onDeleteHobby()" 
          [disabled]="loginForm.controls['hobbies'].length<1">Delete Hobby</button>
  <button class="btn btn-primary" 
          [disabled]="!loginForm.valid">Submit</button>
 
</form>